.vscode
UboatModCompassNavigation/Assets/Mods/uboat
UboatModCompassNavigation/Assets/Mods/uboat.meta
UboatModCompassNavigation/Assets/Packages/uboat.core
UboatModCompassNavigation/Assets/Packages/uboat.core.meta
UboatModCompassNavigation/Assets/StreamingAssets
UboatModCompassNavigation/Assets/StreamingAssets.meta
UboatModCompassNavigation/Assets/TextMesh\ Pro
UboatModCompassNavigation/Assets/TextMesh\ Pro.meta
UboatModCompassNavigation/Library
UboatModCompassNavigation/obj
UboatModCompassNavigation/Packages
